.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 48px;
	
}
 
h3{ 
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 28px;
}

p{
	font-family: "Lucida Console", "Courier New", monospace;
}

img{
	border: 15px ridge pink;
	border-radius: 5px;
}